<h1>Editing helloworld</h1>

<%= render "form", helloworld: @helloworld %>

<br>

<div>
  <%= link_to "Show this helloworld", @helloworld %> |
  <%= link_to "Back to helloworlds", helloworlds_path %>
</div>
