<p style="color: green"><%= notice %></p>

<h1>Helloworlds</h1>

<div id="helloworlds">
  <% @helloworlds.each do |helloworld| %>
    <%= render helloworld %>
    <p>
      <%= link_to "Show this helloworld", helloworld %>
    </p>
  <% end %>
</div>

<%= link_to "New helloworld", new_helloworld_path %>
